<% cache @cache_key do %>
  <%= turbo_frame_tag :card_columns do %>
    <div class="card-columns">
      <%= render "cards/index/engagement/on_deck", user_filtering: user_filtering, **on_deck.to_h %>
      <%= render "cards/index/engagement/considering", user_filtering: user_filtering, **considering.to_h %>

      <% if workflow = user_filtering.single_collection.workflow %>
        <% workflow.stages.each do |stage| %>
          <%= render "cards/index/engagement/doing", user_filtering: user_filtering, **doing.to_h, stage: stage %>
        <% end %>
      <% else %>
        <%= render "cards/index/engagement/doing", user_filtering: user_filtering, **doing.to_h %>
      <% end %>

      <%= render "cards/index/engagement/closed", user_filtering: user_filtering, **closed.to_h %>
    </div>
  <% end %>
<% end %>
