<% cache bucket do %>
  <li class="bucket flex flex-column txt-align-center max-width position-relative">
    <%= link_to bubbles_path(bucket_ids: [ bucket ]), class: "windshield__container flex justify-center align-center position-relative" do %>
      <div class="windshield bucket__windshield flex flex-wrap gap justify-center align-end" style="view-transition-name: windshield_<%= bucket.id %>">
        <% bucket.bubbles.ordered_by_activity.limit(10).each do |bubble| %>
          <div class="bubble" style="--bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %> <%= bubble_size(bubble) %>">
            <span class="bubble__shape"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="flex align-center justify-center flex-column flex-wrap center gap-half">
      <%= link_to bubbles_path(bucket_ids: [ bucket ]), class: "txt-ink flex flex-column" do %>
        <strong class="txt-x-large">In <%= bucket.name %></strong>
      <% end %>
    </div>
  </li>
<% end %>
