<% @page_title = "Collections" %>

<% content_for :header do %>
  <nav class="align-start">
    <%= link_to account_users_path, class: "btn borderless flex-item-justify-start" do %>
      <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Account settings</span>
    <% end %>

    <header class="flex flex-column center">
      <div class="flex align-center gap-half justify-center">
        <%= link_to "Collections", root_path %>
        <%= link_to "Activity", root_path %>
      </div>
      <h1 class="txt-x-large"><%= @page_title %></h1>
    </header>

    <%= link_to new_bucket_path, class: "btn flex-item-justify-end borderless", style: "view-transition-name: new-bucket" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Add a new project</span>
    <% end %>
  </nav>
<% end %>

<ul class="buckets margin-block-double unpad align-start justify-center flex flex-wrap gap" data-controller="bubble-size">
  <%= render @buckets, cached: true %>
</ul>
<ul class="buckets margin-block-double unpad align-start justify-center flex flex-wrap gap" data-controller="bubble-size">
  <%= render @filters %>
</ul>