<%= turbo_frame_tag :new_tag do %>
  <%= form_with model: Tag.new, url: bucket_bubble_tags_path(@bubble.bucket, @bubble), data: { turbo_frame: "_top" } do |form| %>
    <%= form.text_field :title, class: "input borderless", autofocus: "on", list: "tags-list" %>
    <%= form.submit "Create Tag", hidden: true %>

    <datalist id="tags-list">
      <%= Current.account.tags.each do |tag| %>
        <option value="<%= tag.title %>"></option>
      <% end %>
    </datalist>
  <% end %>
<% end %>
