<%= turbo_frame_tag "my_menu", target: "_top" do %>
  <div class="flex gap">
    <%= jump_field_tag %>

    <button class="nav__close btn borderless txt-small" data-action="dialog#close">
      <%= icon_tag "close" %>
      <span class="for-screen-reader">Close menu</span>
    </button>
  </div>

  <%= render "hotkeys" %>
  <%= render "saved_filter", filters: @user_filtering.filters %>
  <%= render "boards", user_filtering: @user_filtering %>
  <%= render "tags", user_filtering: @user_filtering %>
  <%= render "users", user_filtering: @user_filtering %>
  <%= render "places", user_filtering: @user_filtering %>
  <%= render "accounts", user_filtering: @user_filtering %>
  <%= render "footer" %>
<% end %>
