<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "layouts/shared/head" %>

  <body class="<%= @body_class %>"
    data-controller="local-time timezone-cookie turbo-navigation theme bridge--title bridge--text-size bridge--insets"
    data-action="turbo:morph@window->local-time#refreshAll turbo:before-visit@document->turbo-navigation#rememberLocation"
    data-platform="<%= platform.type %>" data-bridge--title-title-value="<%= @page_title %>">
    <script type="application/json" id="local-time-strings" data-locale="<%= I18n.locale %>" data-turbo-permanent>
      <%= raw ({ today: t("shared.time.today"), yesterday: t("shared.time.yesterday"), tomorrow: t("shared.time.tomorrow"), in_days: t("shared.time.in_days", count: "%{count}"), days_ago: t("shared.time.days_ago", count: "%{count}") }.to_json) %>
    </script>
    <div id="global-container" data-controller="bridge--buttons bridge--overflow-menu">
      <header class="header header--mobile-actions-stack <%= @header_class %>" id="header">
        <a href="#main" class="header__skip-navigation btn" data-turbo="false"><%= t("shared.skip_to_main_content") %></a>
        <%= render "my/menu" %>
        <%= yield :header %>
      </header>

      <%= render "layouts/shared/flash" %>
      <%= render "layouts/shared/time_zone" if Current.user %>

      <main id="main">
        <%= yield %>
      </main>
    </div>

    <footer id="footer" class="hide-on-native">
      <%= yield :footer %>

      <% if !@hide_footer_frames %>
        <div id="footer_frames" data-turbo-permanent="true">
          <%= render "bar/bar" if current_notification_user %>
          <%= render "my/pins/tray" if Current.user %>
          <%= render "notifications/tray" if current_notification_user %>
        </div>
      <% end %>

      <%= render "layouts/shared/welcome_letter" if flash[:welcome_letter] %>
    </footer>
  </body>
</html>
