<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/shared/head" %>

  <body class="public" data-controller="local-time timezone-cookie" data-action="turbo:morph@window->local-time#refreshAll">
    <header class="header" id="header">
      <a href="#main" class="header__skip-navigation btn" data-turbo="false">Skip to main content</a>
      <nav>
        <%= link_to "https://fizzy.do", class: "header__logo center flex-inline align-center txt-large" do %>
          <%= image_tag "logo.png" %>
          <strong class="txt-large overflow-ellipsis margin-none">Fizzy</strong>
        <% end %>
      </nav>

      <%= yield :header %>
    </header>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>
  </body>
</html>
